@using Moto_Web.Models.VM;
@model ImageUploadModel

<h1>strona do zmiany zdjecia</h1>

<form method="post" asp-action="UploadImage" enctype="multipart/form-data">

    <div class="mb-3">
        <input asp-for="Files" type="file" name="files" multiple="multiple" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class=" btn btn-primary">Zmień zdjęcia</button>
    </div>

</form>
