@using Moto_Web.Models.Dto;
@model AdTypeUpdateDTO

<form asp-action="UpdateAdTypes">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Zmień</h1>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexAdTypes" asp-controller="AdTypes" class="btn-primary btn form-control">Wróc do listy</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Zmień" class="btn btn-success form-control" />
            </div>

        </div>
    </div>
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}