@using Moto_Web.Models;
@model IEnumerable<ApplicationUser>

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary"> </h1>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Login:
                </th>
                <th>
                    Rola:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>
                        @foreach (var userRole in item.UserRoles)
                        {
                            <p>@Html.DisplayFor(model => userRole.Role.Name)&nbsp;</p>
                        }
                    </td>
                    <td>
                        <a asp-controller="UsersList" asp-action="UpdateUsersList" asp-route-Id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="UsersList" asp-action="DeleteUsersList" asp-route-Id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-md-10">
        <a class="btn btn-primary" href="https://localhost:7001/api/UsersListAPI/ExportExcel" download> Export do pliku Excel</a>
    </div>
    <br />
    <div class="col-md-10">
        <a class="btn btn-primary" href="https://localhost:7001/api/UsersListAPI/ExportPDF" download> Export do pliku PDF</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
