@using Moto_Web.Models.VM;
@model ModelVM
    <form method="post" asp-action="CreateModel">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Dodaj</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="ModelClass.Company.Name" class="control-label pt-2" style="font-size:20px;"> Producent </label>
                
                <select asp-for="ModelClass.CompanyId" class="form-select w-100 bg-white" asp-items="@Model.CompanyList">
                    <option disabled selected> --Wybierz producenta pojazdu-- </option>
                </select>

            </div>
            <div class="col-2">
                <label asp-for="ModelClass.Name" class="control-label pt-2" style="font-size:20px;"> Nazwa </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ModelClass.Name" class="form-control" />
                <span asp-validation-for="ModelClass.Name" class="text-danger"></span>
            </div>
            
            <div class="col-5 offset-2">
                <a asp-action="IndexModel" asp-controller="Model" class="btn-primary btn form-control">Wróc do listy</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Dodaj" class="btn btn-success form-control" />
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}