@using Moto_Web.Models.VM;
@*@model ApplicationRole*@

@model EditRoleViewModelVM

<form asp-action="UpdateRolesList">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Zmień role:</h1>
        <hr />

        <input hidden asp-for="Role.Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Role.Id">Id</label>
                <input asp-for="Role.Id" disabled class="form-control" />
                <span asp-validation-for="Role.Id" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Role.Name">Nazwa</label>
                <input asp-for="Role.Name" class="form-control" />
                <span asp-validation-for="Role.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Role.NormalizedName">Nazwa</label>
                <input asp-for="Role.NormalizedName" class="form-control" />
                <span asp-validation-for="Role.NormalizedName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Role.ConcurrencyStamp"></label>
                <input asp-for="Role.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="Role.ConcurrencyStamp" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexRolesList" asp-controller="RolesList" class="btn-primary btn form-control">Wróc do listy</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Zmień" class="btn btn-success form-control" />
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}